In [3]:
import pandas as pd
data = {"Name":["Akash", "Abhisek", "Kumal","Priyanshu"],
        "age":[22,23,24,25],
        "salary":[450000,50000,55000, 60000]}

df = pd.DataFrame(data)
print(df)

        Name  age  salary
0      Akash   22  450000
1    Abhisek   23   50000
2      Kumal   24   55000
3  Priyanshu   25   60000

In [4]:
data = pd.read_csv("customers.csv")
print(data)

    CustomerID        CustomerName         Region  SignupDate
0        C0001    Lawrence Carroll  South America  2022-07-10
1        C0002      Elizabeth Lutz           Asia  2022-02-13
2        C0003      Michael Rivera  South America  2024-03-07
3        C0004  Kathleen Rodriguez  South America  2022-10-09
4        C0005         Laura Weber           Asia  2022-08-15
..         ...                 ...            ...         ...
195      C0196         Laura Watts         Europe  2022-06-07
196      C0197    Christina Harvey         Europe  2023-03-21
197      C0198         Rebecca Ray         Europe  2022-02-27
198      C0199      Andrea Jenkins         Europe  2022-12-03
199      C0200         Kelly Cross           Asia  2023-06-11

[200 rows x 4 columns]

In [8]:
data = pd.read_excel("netflix_data.xlsx")
print(data)

          N_id                           Title Main Genre  \
0       215309      Ace Ventura: Pet Detective     Comedy
1       215318  Ace Ventura: When Nature Calls     Comedy
2       217258               The Addams Family     Comedy
3       217303            Addams Family Values     Comedy
4       235527                       Agneepath      Drama
...        ...                             ...        ...
6398  81988312                     Laila Majnu    Romance
6399  81988313                Veere Di Wedding     Comedy
6400  81992621    Paw Patrol Holiday Fireplace       Kids
6401  81994051                        Notebook      Drama
6402  81994054                       Loveyatri    Romance

                                             Sub Genres  Release Year  \
0                                   Comedy, Mystery, US        1994.0
1                        Comedy, Action & Adventure, US        1995.0
2                                            Comedy, US        1991.0
3                                            Comedy, US        1993.0
4               Hindi-Language, Bollywood, Crime, Drama        1990.0
...                                                 ...           ...
6398  Hindi-Language, Bollywood, Drama, Romantic, Ba...        2018.0
6399                  Hindi-Language, Bollywood, Comedy        2018.0
6400                       Kids Music, Special Interest        2024.0
6401  Hindi-Language, Bollywood, Drama, Romantic, So...        2019.0
6402         Hindi-Language, Bollywood, Drama, Romantic        2018.0

     Maturity Rating                                     Original Audio  \
0                  A                          Hindi, English [Original]
1            U/A 16+                          Hindi, English [Original]
2            U/A 13+  English [Original], Hindi, English - Audio Des...
3            U/A 13+  English [Original], Hindi, English - Audio Des...
4            U/A 16+                                   Hindi [Original]
...              ...                                                ...
6398         U/A 13+                                   Hindi [Original]
6399         U/A 16+                                   Hindi [Original]
6400               U                             No Dialogue [Original]
6401          U/A 7+                                   Hindi [Original]
6402          U/A 7+                                   Hindi [Original]

                                        Recommendations
0     70184054, 60001650, 70112729, 70027007, 115246...
1     70184054, 60001650, 70112729, 70027007, 115246...
2     81156676, 81231974, 70027007, 80049939, 702179...
3     81156676, 70044593, 81231974, 70027007, 800500...
4     17517355, 80158546, 80158395, 80074065, 702042...
...                                                 ...
6398  80065328, 81994054, 80087743, 81423081, 819940...
6399  70181653, 80065328, 81672746, 80032081, 703034...
6400  81294811, 81154166, 81272431, 81640914, 815003...
6401  80080110, 80065328, 81994054, 80087743, 819883...
6402  80080110, 80065328, 81988312, 70303428, 800877...

[6403 rows x 8 columns]