In [2]:
import pandas as pd 

data = pd.read_excel("data_dictionary.xlsx")
print(data)

                    Variable  \
0                        Age
1                  Attrition
2             BusinessTravel
3                 Department
4           DistanceFromHome
5                  Education
6                        NaN
7                        NaN
8                        NaN
9                        NaN
10            EducationField
11             EmployeeCount
12            EmployeeNumber
13   EnvironmentSatisfaction
14                       NaN
15                       NaN
16                       NaN
17                    Gender
18            JobInvolvement
19                       NaN
20                       NaN
21                       NaN
22                  JobLevel
23                   JobRole
24           JobSatisfaction
25                       NaN
26                       NaN
27                       NaN
28             MaritalStatus
29             MonthlyIncome
30        NumCompaniesWorked
31                    Over18
32         PercentSalaryHike
33         PerformanceRating
34                       NaN
35                       NaN
36                       NaN
37  RelationshipSatisfaction
38                       NaN
39                       NaN
40                       NaN
41             StandardHours
42          StockOptionLevel
43         TotalWorkingYears
44     TrainingTimesLastYear
45           WorkLifeBalance
46                       NaN
47                       NaN
48                       NaN
49            YearsAtCompany
50   YearsSinceLastPromotion
51      YearsWithCurrManager

                                              Meaning             Levels
0                                 Age of the employee                NaN
1   Whether the employee left in the previous year...                NaN
2   How frequently the employees travelled for bus...                NaN
3                               Department in company                NaN
4                           Distance from home in kms                NaN
5                                     Education Level  1 'Below College'
6                                                 NaN        2 'College'
7                                                 NaN       3 'Bachelor'
8                                                 NaN         4 'Master'
9                                                 NaN         5 'Doctor'
10                                 Field of education                NaN
11                                     Employee count                NaN
12                                 Employee number/id                NaN
13                Work Environment Satisfaction Level            1 'Low'
14                                                NaN         2 'Medium'
15                                                NaN           3 'High'
16                                                NaN      4 'Very High'
17                                 Gender of employee                NaN
18                              Job Involvement Level            1 'Low'
19                                                NaN         2 'Medium'
20                                                NaN           3 'High'
21                                                NaN      4 'Very High'
22          Job level at company on a scale of 1 to 5                NaN
23                        Name of job role in company                NaN
24                             Job Satisfaction Level            1 'Low'
25                                                NaN         2 'Medium'
26                                                NaN           3 'High'
27                                                NaN      4 'Very High'
28                     Marital status of the employee                NaN
29                 Monthly income in rupees per month                NaN
30  Total number of companies the employee has wor...                NaN
31  Whether the employee is above 18 years of age ...                NaN
32                  Percent salary hike for last year                NaN
33                   Performance rating for last year            1 'Low'
34                                                NaN           2 'Good'
35                                                NaN      3 'Excellent'
36                                                NaN    4 'Outstanding'
37                    Relationship satisfaction level            1 'Low'
38                                                NaN         2 'Medium'
39                                                NaN           3 'High'
40                                                NaN      4 'Very High'
41            Standard hours of work for the employee                NaN
42                 Stock option level of the employee                NaN
43  Total number of years the employee has worked ...                NaN
44  Number of times training was conducted for thi...                NaN
45                            Work life balance level            1 'Bad'
46                                                NaN           2 'Good'
47                                                NaN         3 'Better'
48                                                NaN           4 'Best'
49  Total number of years spent at the company by ...                NaN
50               Number of years since last promotion                NaN
51              Number of years under current manager                NaN

In [3]:
print(data.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20     True
21     True
22    False
23    False
24    False
25     True
26     True
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38     True
39     True
40     True
41    False
42    False
43    False
44    False
45    False
46     True
47    False
48    False
49    False
50    False
51    False
dtype: bool

In [7]:
print(data.duplicated().sum())

10